<p><b>Created Date:</b> @CreatedAt </p>
<p><b>Days ago:</b> @DaysAgo</p>
<p><b>Note:</b> @Content</p>

@code {

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public DateTime CreatedAt { get; set; }

    [Parameter]
    public int DaysAgo { get; set; }

}
